.containerPrincipal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
    min-height: 80vh;
}

.containerTitleAndButton{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.containerTitleAndButton button{
    padding: 10px;
    border-radius: 12px;
    background-color: antiquewhite;
    font-weight: bold;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.2);
    border: none;
}

.containerTitleAndButton button:hover{
    background-color: bisque;
    cursor: pointer;
}

.containerTasks{
    padding: 10px;
    background-color: #80807e;
    width: 98%;
    max-width: 800px;
    height: 100%;
    overflow-y: auto;
    min-height: 550px;
    max-height: 550px;
    overflow: auto;
    border-radius: 12px;
}

/* Estilizar toda la barra */
.contenedorScroll::-webkit-scrollbar {
    width: 6px; /* Ancho de la barra vertical */
    height: 30%; /* Altura de la barra horizontal */
  }
  
  /* Color del "track" (fondo de la barra) */
  .contenedorScroll::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }
  
  /* Color del "thumb" (barra que se mueve) */
  .contenedorScroll::-webkit-scrollbar-thumb {
    background: rgb(231, 195, 151);
    border-radius: 4px;
  }
  
  /* Efecto al pasar el mouse sobre la barra */
  .contenedor-scroll::-webkit-scrollbar-thumb:hover {
    background: #c40f0f;
  }
  
  /* Firefox */
 


  .noTasksDiv{
    text-align: center;
    padding: 20px;
    color: aliceblue;
    font-weight: bold;
  }